---
version: '3.8'

services:
  portainer:
    image: portainer/portainer-ce:{{ portainer_version }}
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/portainer/data:/data
    environment:
      - TZ={{ timezone }}
      - PUID=0
      - PGID=0
    networks:
      - portainer

networks:
  portainer:
    driver: bridge
