---
version: '3.8'

services:
  server:
    image: gitea/gitea:{{ gitea_version }}
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - DB_TYPE=sqlite3
      - APP_NAME=Gitea
      - DOMAIN={{ gitea_domain }}
      - SSH_DOMAIN={{ gitea_domain }}
      - SSH_PORT=2222
      - INSTALL_LOCK=true
      - SECRET_KEY={{ vault_gitea_secret_key | default('your-secret-key') }}
    restart: always
    networks:
      - gitea
    volumes:
      - /opt/gitea/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "2222:22"
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD={{ vault_gitea_db_password | default('gitea') }}
      - POSTGRES_DB=gitea
    volumes:
      - /opt/gitea/postgres:/var/lib/postgresql/data
    networks:
      - gitea

networks:
  gitea:
    driver: bridge
